<form id="{{ form.id }}" action="{{ form.action }}" method="{{ form.method }}">
    <div class="sm:rounded-md sm:overflow-hidden">
        <div class="py-6 px-4 space-y-6 sm:p-6">
            <div class="grid grid-cols-12 gap-6">
                {% for field in form.fields %}
                    <div class="col-span-{{ field.span ?? 6 }}">
                        <label for="{{ field.name }}"
                               class="block text-sm font-medium text-gray-200 {{ field.label_class }}">{{ field.label }}</label>

                        {% if field.type == 'input' %}
                            {% if field.options %}
                                {% for option in field.options %}
                                    <input type="{{ field.input_type }}"
                                           id="{{ option.name }}"
                                           name="{{ field.name }}"
                                           value="{{ option.value }}"
                                           {{ field.value == option.value ? 'checked' }}
                                           class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm {{ option.class }}">
                                    <label for="{{ option.name }}" class="ml-3 block text-sm font-medium text-gray-200">{{ option.name }}</label>
                                {% endfor %}
                            {% else %}
                                <input type="{{ field.input_type }}"
                                       id="{{ field.name }}"
                                       name="{{ field.name }}"
                                       value="{{ field.value }}"
                                       class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm {{ option.class }}">
                            {% endif %}
                        {% elseif field.type == 'select' %}
                            <select id="{{ field.name }}"
                                    name="{{ field.name }}"
                                    class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm {{ option.class }}">

                                {% if field.options_default_value %}
                                    <option value="0" {{ field.value == 0 ? 'selected' }}>-</option>
                                {% endif %}

                                {% for option in field.options %}
                                    <option value="{{ option.value }}" {{ field.value == option.value ? 'selected' }}>{{ option.name }}</option>
                                {% endfor %}
                            </select>
                        {% elseif field.type == 'text' %}
                            <div id="content" class="text-white"></div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>

        {% if form.submit %}
            <div class="px-4 py-3 text-right sm:px-6">
                <button type="submit"
                        class="bg-indigo-600 border border-transparent rounded-md shadow-sm py-2 px-4 inline-flex justify-center text-sm font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                    {{ form.submit.label }}
                </button>
            </div>
        {% endif %}
    </div>
</form>