<div class="max-w-xl mx-auto">
    <div class="pt-8">
        {% for date, tracker in dates %}
            <h2 class="mx-auto mt-8 px-4 text-lg leading-6 font-medium text-gray-100 sm:px-6 lg:px-8 text-center">
                {{ date }}</h2>

            <ul role="list" class="divide-y divide-gray-200">
                {% for item in tracker %}
                    <li class="py-4">
                        <div class="flex space-x-3">
                            <div class="flex-1 space-y-1">
                                <div class="flex items-center justify-between">
                                    <h3 class="text-sm font-medium text-gray-400">{{ item.habit_name }}</h3>
                                    <p class="text-sm text-gray-400">
                                        {{ item.hour }}
                                    </p>
                                </div>

                                <div class="flex items-center justify-between">
                                    {% if item.value_type == 'boolean' %}
                                        {% if timeline %}
                                            <img class="inline-block" src="/img/check-svgrepo-com.svg"/>
                                        {% else %}
                                            <div class="text-white inline-block">x {{ item.value }}</div>
                                        {% endif %}
                                    {% else %}
                                        <p class="text-sm text-gray-200">{{ item.value }} min</p>
                                    {% endif %}

                                    <div>
                                        <a class="tracker-edit text-gray-300" href="javascript:void(0)"
                                           data-id="{{ item.id }}">edit</a>
                                        <a class="tracker-delete text-red-500" href="javascript:void(0)"
                                           data-id="{{ item.id }}">delete</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% endfor %}
    </div>
</div>