{% extends "app/layout.html.twig" %}

{% block content %}
    <main class="flex-1">
        <div class="py-6">
            <div class="max-w-7xl mx-auto px-4 sm:px-6 md:px-8">
                <h1 class="text-2xl font-semibold text-white">Dashboard</h1>
            </div>

            <div class="max-w-7xl mx-auto px-4 sm:px-6 md:px-8">

                {{ stats_html | raw }}

                <div class="grid grid-cols-3 gap-4">
                    {% for category in categories %}
                        <div class="text-white">
                            <div>
                                <div class="inline-block w-full">
                                    <span class="inline-block rounded w-full py-2 text-center text-md font-medium bg-{{ category.color }}-100 text-{{ category.color }}-800"> {{ category.name }} </span>
                                    {# bg-green-100 bg-green-50 text-green-800 | bg-blue-100 bg-blue-50 text-blue-800 | bg-red-100 bg-red-50 text-red-800 | bg-indigo-100 bg-indigo-50 text-indigo-800 #}
                                </div>
                            </div>

                            <div class="pb-3 px-3">
                                <div class="mt-4 grid md:grid-cols-2 gap-2 sm:grid-cols-1">
                                    {% for habit in category.habits %}
                                        <div class="track-habit text-center py-3 {{ habits[habit.id] >= habit.min_value ? 'bg-green-400 hover:bg-green-300' : 'hover:bg-gray-700' }} cursor-pointer border-collapse border border-gray-300 rounded-md"
                                             data-id="{{ habit.id }}">
                                            {{ habit.name }}

                                            {% if habit.is_productive %}
                                                <span class="text-xs italic block">{{ "(#{habits[habit.id] + 0} / #{habit.min_value})" }}</span>
                                            {% else %}
                                                <span class="text-xs italic block">-</span>
                                            {% endif %}
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>

{#                <div class="grid grid-cols-2 gap-8">#}
                <div class="max-w-xl mx-auto">
                    <div class="pt-8">
                        <h2 class="mx-auto mt-8 px-4 text-lg leading-6 font-medium text-gray-100 sm:px-6 lg:px-8 text-center">
                            Today <a class="text-sm italic" href="/tracker">(see all days)</a></h2>

                        <ul role="list" class="divide-y divide-gray-200">
                            {% for item in tracker %}
                                <li class="py-4">
                                    <div class="flex space-x-3">
                                        <div class="flex-1 space-y-1">
                                            <div class="flex items-center justify-between">
                                                <h3 class="text-sm font-medium text-gray-400">{{ item.habit.name }}</h3>
                                                <p class="text-sm text-gray-400">
                                                    {% if item.habit.is_productive %}
                                                        {{ item.start_hour ? "#{item.start_hour} - #{item.hour}" : item.hour }}
                                                    {% else %}
                                                        {{ item.hour }}
                                                    {% endif %}
                                                </p>
                                            </div>

                                            <div class="flex items-center justify-between">
                                                {% if item.habit.value_type == 'boolean' %}
                                                    <img src="/img/check-svgrepo-com.svg"/>
                                                {% else %}
                                                    <p class="text-sm text-gray-200">{{ item.value }} min</p>
                                                {% endif %}

                                                <div>
                                                    <a class="tracker-edit text-gray-300" href="javascript:void(0)"
                                                       data-id="{{ item.id }}">edit</a>
                                                    <a class="tracker-delete text-red-500" href="javascript:void(0)"
                                                       data-id="{{ item.id }}">delete</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>

                        {#                    <div class="trumbowyg-dark"> #}
                        {#                        <textarea id="editor"></textarea> #}
                        {#                    </div> #}
                    </div>


{#                    <div class="pt-8">#}
{#                        <h2 class="mx-auto mt-8 px-4 text-lg leading-6 font-medium text-gray-900 sm:px-6 lg:px-8 text-center">{{ routine.name }}</h2>#}

{#                        <ul role="list" class="divide-y divide-gray-200">#}
{#                            {% for item in routine.items %}#}
{#                                <li class="py-4">#}
{#                                    <div class="flex space-x-3">#}
{#                                        <div class="flex-1 space-y-1">#}
{#                                            <div class="flex items-center justify-between">#}
{#                                                <h3 class="text-sm font-medium">{{ item.name }}</h3>#}
{#                                                <p class="text-sm text-gray-500">#}
{#                                                    {{ item.hour }}#}
{#                                                </p>#}
{#                                            </div>#}

{#                                            <div class="flex items-center justify-between">#}
{#                                                {% if item.value_type == 'boolean' %}#}
{#                                                    <img src="/img/check-svgrepo-com.svg"/>#}
{#                                                {% else %}#}
{#                                                    <p class="text-sm text-gray-500">{{ item.value }} min</p>#}
{#                                                {% endif %}#}

{#                                                <div>#}
{#                                                    <a class="tracker-edit text-gray-300" href="javascript:void(0)"#}
{#                                                       data-id="{{ item.id }}">edit</a>#}
{#                                                    <a class="tracker-delete text-red-500" href="javascript:void(0)"#}
{#                                                       data-id="{{ item.id }}">delete</a>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </li>#}
{#                            {% endfor %}#}
{#                        </ul>#}
{#                    </div>#}
                </div>


                {% for habit, values in graph %}
                    <canvas id="{{ habit }}-progress" width="400" height="150" class="mt-8 rounded px-4 py-2"></canvas>
                {% endfor %}

                <canvas id="gaining-weight-progress" width="400" height="150" class="mt-8 rounded"></canvas>

            </div>
        </div>
    </main>
{% endblock %}


{% block scripts %}
    <script>
        $('.track-habit').click(function () {
            let habit_id = $(this).data('id');

            $.ajax({
                url: '/tracker/new',
                data: {
                    'habit_id': habit_id
                },
                type: 'GET',
                success: function (result) {
                    $('#modal').html(result);
                }
            });
        });

        $(document).on("click", "#tracker-save", function () {
            $.ajax({
                url: '/tracker/create',
                data: {
                    'min': $('#min').val(),
                    'date': $('#date').val(),
                    'habit_id': $('#habit_id').val()
                },
                type: 'POST',
                success: function (result) {
                    console.log(result);
                }
            });
        });


        $('.tracker-edit').click(function () {
            let id = $(this).data('id');

            $.ajax({
                url: '/tracker/edit',
                data: {
                    'id': id
                },
                type: 'GET',
                success: function (result) {
                    alert('editing');
                    // $('#modal').html(result);
                }
            });
        });

        // $('#editor').trumbowyg();


        {% for habit, values in graph %}
        new Chart(document.getElementById('{{ habit }}-progress'), {
            type: 'line',
            data: {
                labels: JSON.parse('{{ values.labels | json_encode | raw }}'),
                datasets: [{
                    label: 'Minutes',
                    data: JSON.parse('{{ values.data | json_encode | raw }}'),
                    borderColor: 'green',
                    backgroundColor: 'white',
                }]
            },
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        position: 'top',
                    },
                    title: {
                        display: true,
                        text: '{{ habit }} Chart',
                        color: 'white'
                    }
                },
                scales: {
                    x: {
                        ticks: {
                            color: 'white',
                        }
                    },
                    y: {
                        ticks: {
                            color: 'white',
                        }
                    },
                }
            }
        });
        {% endfor %}

        new Chart(document.getElementById('gaining-weight-progress'), {
            type: 'line',
            data: {
                labels: JSON.parse('{{ graph.sport.labels | json_encode | raw }}'),
                datasets: [
                    {
                        label: 'Sport',
                        data: JSON.parse('{{ graph.sport.data | json_encode | raw }}'),
                        borderColor: 'rgb(255,127,80)',
                        backgroundColor: 'rgb(255,127,80)',
                    },{
                        label: 'Kg',
                        data: JSON.parse('{{ graph.kg.data | json_encode | raw }}'),
                        borderColor: 'rgb(255,215,0)',
                        backgroundColor: 'rgb(255,215,0)',
                    },{
                        label: 'Proteins',
                        data: JSON.parse('{{ graph.proteins.data | json_encode | raw }}'),
                        borderColor: 'rgb(127,255,0)',
                        backgroundColor: 'rgb(127,255,0)',
                    },{
                        label: 'Eating',
                        data: JSON.parse('{{ graph.eating.data | json_encode | raw }}'),
                        borderColor: 'rgb(147,112,219)',
                        backgroundColor: 'rgb(147,112,219)',
                    }
                ]
            },
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        position: 'top',
                    },
                    title: {
                        display: true,
                        text: 'Gaining Weight Chart',
                        color: 'white'
                    }
                },
                scales: {
                    x: {
                        ticks: {
                            color: 'white',
                        }
                    },
                    y: {
                        ticks: {
                            color: 'white',
                        }
                    },
                }
            }
        });
    </script>
{% endblock %}